<?php
	$this->assign('title', 'Página de login');
?>
<body>
<div id="topo">

</div>
<div id="conteudo">

<div id="login">
<h3>Área de login</h3>
<?= $this->Form->create() ?>

<?= $this->Form->input('username') ?>
<?= $this->Form->input('password') ?>
<?= $this->Form->button('Enviar') ?><br>
<span> Não possui conta?
	<?= $this->Html->link(__('Clique aqui'), ['controller' => 'Users', 'action' => 'add']) ?>
</span>
</div>

        <?= $this->Form->end() ?>
</div>
</body>